@font-face {
    font-family: 'Manier';
    src: url('/fonts/Manier-Regular.otf') format('otf'),
        url('/fonts/Manier-Medium.otf') format('otf'),
        url('/fonts/Manier-Bold.otf') format('otf'),
        url('/fonts/Manier-Heavy.otf') format('otf'),
        url('/fonts/Manier-HeavyItalic.otf') format('otf'),
        url('/fonts/Manier-Thin.otf') format('otf'),
        url('/fonts/Manier-ThinItalic.otf') format('otf'),
        url('/fonts/Manier-MediumItalic.otf') format('otf'),
        url('/fonts/Manier-BoldItalic.otf') format('otf'),
        url('/fonts/Manier-RegularItalic.otf') format('otf'),
        url('/fonts/Manier-Light.otf') format('otf'),
        url('/fonts/Manier-LightItalic.otf') format('otf');
    font-weight: normal;
    font-style: normal;
  }