@font-face {
  font-family: 'Manier';
  src: url('../public/fonts/Manier-Regular.otf') format('opentype'),
      url('../public/fonts/Manier-Medium.otf') format('opentype'),
      url('../public/fonts/Manier-Bold.otf') format('opentype'),
      url('../public/fonts/Manier-Heavy.otf') format('opentype'),
      url('../public/fonts/Manier-HeavyItalic.otf') format('opentype'),
      url('../public/fonts/Manier-Thin.otf') format('opentype'),
      url('../public/fonts/Manier-ThinItalic.otf') format('opentype'),
      url('../public/fonts/Manier-MediumItalic.otf') format('opentype'),
      url('../public/fonts/Manier-BoldItalic.otf') format('opentype'),
      url('../public/fonts/Manier-RegularItalic.otf') format('opentype'),
      url('../public/fonts/Manier-Light.otf') format('opentype'),
      url('../public/fonts/Manier-LightItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
};

@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: manier;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media screen and (max-width: 480px) {
  .mobile {
    height: 600px;
  }
}

@media (max-width: 480px) {
  .grid-cols-2 > div {
    grid-column: span 2;
  }
}

.hero {
  background-image: url('/assets/heroImg.png');
  object-fit: cover;
  width: auto;
  height: 100vh;
}

.about {
  background-color: #1A1A1A;
}

.luxury {
  background-image: url('/assets/luxury.png');
  background-size: cover;
}

.membership {
  background-image: url('/assets/membership.png');
  background-size: contain;
}

.gradient-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.your-tilt-container {
  transition: transform 0.1s ease-in-out;
}

.hash-span {
  display: block;
}

.grow {
  transition: all .2s ease-in-out;
}
.grow:hover {
  transform: scale(1.02);
  background-color: darkorange;
}

.grow2 {
  transition: all .2s ease-in-out;
}
.grow2:hover {
  transform: scale(1.02);
}

.grow3 {
  transition: all .2s ease-in-out;
}
.grow3:hover {
  transform: scale(1.01);
}

.grow4 {
  transition: all .2s ease-in-out;
}
.grow4:hover {
  transform: scale(1.02);
  background-color: #D5B265;
}